

/*** Direct Optical Fiber Section ***********************/
.dof-heading {
    background-color: var(--nttorange);
    padding: 15px;

    .head-icon {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        & h2 {
            background-color:transparent;
            color: white;
            margin: 0;
        }
    
        & img {
            width: 45px;
            margin-left: 10px;
        }
    }

    & h4 {
        width: 100%;
        text-align: center;
    }
}

.dof .dof-plans {
    width: 95%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.dof-plans .dof-plan {
    position: relative;
    background-color: rgba(0, 0, 50, 0.55);
    flex: 1 0 auto;

    .card-title {
        background-color: rgba(255, 255, 0, .55);
        padding:5px 0 5px 10px;
        border-radius: 15px;
    }
}

.dof-plan::before {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    
    background-image: url(../../img/data-plans/dof-bg-img.jpg);
    background-size: 300%;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode:luminosity;
    background-color: rgba(0, 0, 50, 0.75);
}

.dof-price {
    background-color: #1b262c86;
    padding: .4rem;
}

.dof-img {
    background-image: url(../../img/data-plans/sme-crop.jpg);
    background-size: cover;
    background-position: center;
    display: none;
}

.dof-md-text {
    background-image:none;
    grid-column: 1/-1;
}

.dof .tm {
    position: relative;
    align-items: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    grid-column: 1/-1;
}


/*** Next Broadband Internet ****************************/
.next-heading {
    background-color: var(--nttorange);
    padding: 15px;

    & > * {
        width: 95%;
        margin: 0 auto;
        color: white;
        text-align: center;
    }
}

.next h2 img {
    width: 60px;

    margin-left: 30px;
    margin-bottom: 2px;
}

.next-plans {
    width: 95%;
    margin: 0 auto;
}

.next .d-plans .gpon {
    height: 140px;
    width: 100%;

    position: relative;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 5px 5px 5px black;
}

.gpon::before {
    height: 250%;
    width: 250%;
    content:"";
    background-image: url("../../img/data-plans/gpon/gpon-bg-icon.png");
    background-color: #0072d6;
    background-size: contain;
    background-position: center;

    position: absolute;

    animation: rotate 60s linear infinite;
    border: 1px solid black;
}

.gpon::after {
    content:"";
    width: 95%;
    height: 95%;
    background-blend-mode: color;
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    transition: 1s;
}

.gpon:hover::after {
    transform: scale(1.1);
}

.next .d-plans .col-6:hover::before {
    animation: rotate 4s linear infinite reverse;
}

.next .d-plans .col-6:nth-child(1) .gpon::after {
    background-image: url("../../img/data-plans/gpon/gpon1.2.png");
}

.next .d-plans .col-6:nth-child(2) .gpon::after {
    background-image: url("../../img/data-plans/gpon/gpon2.2.png");
}

.next .d-plans .col-6:nth-child(3) .gpon::after {
    background-image: url("../../img/data-plans/gpon/gpon3.2.png");
}

.next .d-plans .col-6:nth-child(4) .gpon::after {
    background-image: url("../../img/data-plans/gpon/gpon4.2.png");
}

.next .d-plans .col-6:nth-child(5) .gpon::after {
    background-image: url("../../img/data-plans/gpon/gpon5.2.png");
}

.next .d-plans .col-6:nth-child(6) .gpon::after {
    background-image: url("../../img/data-plans/gpon/gpon10.2.png");
}

.next h5 {
    margin: 10px 20px 10px 20px;
    font-size: clamp(1rem, 2vw,1.2rem);
    color: #1B262C;
    text-align: center;
}


/*** VSAT Broadband Internet ***************************/
.vsat-heading {
    background-color: var(--nttorange);
    padding: 15px;
    color: white;
    text-align: center;
    
    & h2 img {
        width: 60px;

        margin-left: 30px;
        margin-bottom: 2px;
    }
}

.vsat-content {
    width: 95%;
    margin: 0 auto;
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    

    justify-content: center;
    align-items: center;

    .card {
        flex: 1 0 auto;
    }
}

.vsat-plan {
    position: relative;
    flex: 1 0 auto;
    background-color: rgba(0, 0, 50, 0.55);
    color: white;
    
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #0072d6;
        background-image: url(../../img/data-plans/vsat-bg-img.png);
        background-size: cover;
        background-position: center;
        z-index: -1;
    }

    .vsat-users {
        text-align: center;
        font-size: smaller;
    }

    .speed-wrapper {
        width:max-content;
        margin: 0 auto;
    
        & h5 .down-icon img {
            width: 30px;
        }
    
        & h5 .up-icon img {
            width: 30px;
            transform: rotate(180deg);
        }
    }
}

.vsat-plan-tm {
    width: 95%;
    margin: 0 auto;
}


/*** Media Queries ************************************/
@media(min-width: 426px){
    .next .d-plans .gpon {
        height: 200px;
    }
    
    .dof-heading {    
        & > * {
            width: 80%;
        }
    }
    
    .dof .dof-plans {    
        width: 80%;
    }

    .next-plans {
        width: 80%;
    }

    .vsat-content {
        width: 80%;
        margin: 20px 0 20px 0 auto;
        padding: 0;
    }

    .vsat-plan-tm {
        width: 80%;
    }
}

@media(min-width: 700px){
    .dof-img {
        display: block;
    }
    .dof .dof-plans {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .dof-plan:nth-child(4) {
        background-image: url(../../img/data-plans/business-crop.jpg);
        background-size: cover;
        background-position: center;
        display: none;
    }

    .dof-plan:nth-child(7) {
        background-image: url(../../img/data-plans/warehouse.jpg); /* Image by DC Studio on Freepik */
        background-size: cover;
        background-position: center;
    }
}


@media(min-width: 769px){
    .dof .dof-plans {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .vsat-content {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}



@media(min-width: 1025px){
    .dof .dof-plans {
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }

    .dof-plan:nth-child(4) {
        display: block;
    }

    .dof-plan:nth-child(7) {
       grid-column: 2/4;
    }

    .dof .tm {
        grid-column-end: 5;
    }

    .next .d-plans .gpon {
        min-height: clamp(200px, 18vw, 300px);
    }

    .vsat-content {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 1.5rem;
        column-gap: 3rem;
    }
}



@media(min-width: 1440px){
    .vsat-content {
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
}