/*** EMAIL PACKAGES  ***************************************/

/*** HEADER  ***************************************/
.mail-header {
    background-color: var(--nttorange);
    color: white;

    padding: 15px;
    text-align: center;

    & h2 img {
        height: 40px;
        transform: translateY(-7px);

        margin-left: 30px;
        margin-bottom: 2px;
    }
}

.mails {
    width: 95%;
    margin: 0 auto;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.mail {
    width: 100%;
    background-color: rgb(113, 189, 255);
    background-size: cover;
    background-position: top;
    transition: 1s;
    border-radius: 5px;

    .mail-img {
        position: relative;
        height: clamp(175px, 15vw, 280px);

        & img {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.mail-features {
    padding: 5px;
}

.mail-features ul {
    list-style-type: none;
    padding: 5px;
}

.mail-features ul li {
    font-size: 1rem;
    font-weight: 400;
    color: white;
}


/*** WEB PACKAGE *****************************************************/

.web-sect {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.web-heading {
    width: 100%;
    background-color: var(--nttorange);
    color: white;

    padding: 15px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    & h2 {
        margin: 0;
    }
    
    & img {
        width: 45px;
        margin-left: 10px;
    }
}

.web-word {
    position: relative;
    width: 100%;
    height: clamp(300px, 30vw, 400px);

    & img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .word-wrap {
        width: 85%;
        height: fit-content;
        margin: 0 auto;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background-color: rgba(0, 174, 255, 0.75);
        border-radius: 3px;
        padding: 15px;
    }

    & p {
        text-align: center;
        font-size: clamp(.8rem, 3vw, 1.2rem);
        margin: 0;
    }
}

.web-wrapper {
    width: 95%;
    margin: 0 auto;

    border-radius: 3px;
    text-align: center;

    background-image: url("../../img/email-plans/mail-bg2.png");
    background-size:cover;
    background-repeat: no-repeat;

    & img {
        width: 50%;
    }

    & h2 {
        color: royalblue;
        width: 95%;
        margin: 0 auto;
        font-weight: 900;
        font-size: clamp(25px, 3vw, 40px);
    }
}

.webtype {
    .web-card {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.753);
    }
    
    .card img {
        height: 150px;
        width: 100%;
    }
}

.web-body h5 {
    text-align: center;
    font-size: 1rem;
}

@media(min-width: 426px){
    .mails {
        width: 80%;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}