/*** Card Service <Section> **************************/
.services-header-cont {
    background-color: var(--nttorange);
    color: white;

    padding: 15px;
    text-align: center;
}

.services-cont {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: .8rem;
    
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
}

.service-card {
    height: 300px;
    padding: 15px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    color: burlywood;
    border: 5px solid tomato;

    & img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .service-cont {
        position: absolute;
        width: 100%;
        height: 50%;
        left: 0;
        bottom: 0;
        padding: 20px;


        &::after {
            position: absolute;
            top:0;
            left: 0;
            content: "";
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.5);
            backdrop-filter: blur(2px);
            z-index: -1;
        }
    }
    
    & h5 {
        display: flex;
        align-items: center;
        color: tomato;
    }

    & p {
        margin: 0;
        color: white;
        font-size: clamp(.9rem, 3vw, 1rem);
    }
}


/*** Solution <Section> **************************/
.solution-title {
    background-color: var(--nttorange);
    padding: 15px;
    color: white;

    .soln-heading {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
}

.solution-services {
    width: 95%;
    margin: 0 auto;

    .soln {
        .card img {
            height: 130px;
            width: 100%;
        }
    
        .card .soln-body {
            display: flex;
            flex-direction: column;
            justify-content:space-between;
    
            & h5 {
                text-align: center;
                font-size: 1rem;
            } 
            
            & a {
                color: blue;
            }
        }
    }
}


/*** Brief Info Section *********************************************/
.bg-brinfo {
    background-color: whitesmoke;
}

.br-info {
    background-color: #335;
    min-height: 40vh;
    width: 95%;
    margin: 0 auto;
    border-radius: 15px;

    overflow: hidden;
}

.info-img-wrapper {
    display: flex;
    align-items: center;

    .img-info {
        height: clamp(200px, 30vw, 350px);
        width: 100%;
        background-image: url("../img/index-img/optical-fiber-installation.gif");
        background-position: center;
        background-size: cover;
    }
}

.content-info {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 20px;

    color: white;
    font-weight: 400;

    .info-para {
        font-size: .8rem;
    }
    
    .btn-success {
        background-color: yellowgreen;
        text-decoration: none;
    }
}


/*** Clients Section *****************************************************/
.clients {
    margin: 0 auto;

    .clients-heading {
        background-color: var(--nttorange);
        color: white;
        text-align: center;
        padding: 15px;
    }
}

.scroller {
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
}

.scroller[data-animated=true] {
    overflow: hidden;

    -webkit-mask: linear-gradient(
        90deg,
        transparent, 
        white 15%, 
        white 85%,
        transparent
    );
    
    mask: linear-gradient(
        90deg,
        transparent, 
        white 15%, 
        white 85%,
        transparent
    );
}

.scroller[data-animated=true] .scroller-inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll 30s linear infinite;
}

.scroller-inner {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding-inline: 0;
    list-style: none;

    
    padding-block: 2rem;
    gap: 1rem;

    & img {
        width: clamp(85px, 15vw, 175px);
        padding: .5rem;
        background-color: blanchedalmond;
        box-shadow: 0 0.5rem 1rem -.25rem rgb(30, 29, 29);
    }
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - .5rem));
    }
}

@media(min-width: 426px) {

    .services-cont {
        padding: 0;
        grid-template-columns: repeat(2, 1fr);
        width: 80%;

        .service-cont {
            padding: 10px;
        }
    }

    .solution-services {
        width: 80%;
    }

    .bg-brinfo {
        overflow: hidden;
    }

    .br-info {
        width: 80%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .scroller {
        width: 80%;
    }
}

@media(min-width: 768px) {
    .services-cont {
        grid-template-columns: repeat(3, 1fr);

        .service-cont {
            height: 55%;
        }
    }
}

@media(min-width: 1024px) {
    .services-cont {
        gap: 3rem;

        .service-cont {
            padding: 15px;
        }
    }

    .br-info {
        width: 80%;
    }
}
