main {
    position: relative;

    .bg-info-img {
        width: 100%;
        height:100%;
        position: absolute;
        background-image: url(../img/data-plans/gpon/gpon-bg-icon.avif);
        background-size: 150px;
        opacity: .6;
        z-index: -1;
    }
}

/*** Card Service <Section> **************************/
.services-header-cont {
    background-color: var(--nttorange);
    color: white;

    padding: 15px;
    text-align: center;
}

.services-cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .8rem;
    
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
}

.card-title {
    font-size: clamp(1rem, 4vw, 1.2rem);
    text-align: center;
}

.flip-card {
    height: clamp(150px, 30vw, 250px);
    /* Flip Style */
    background-color: transparent;
    perspective: 1000px;

}

.inner-card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform .8s ease-in-out;
    transform-style: preserve-3d;
}

.service-card:hover .inner-card {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 20px;
}

.card-front {
    box-shadow: 2px 2px 4px 2px #323;

    & img {
        border-radius: 0;
        height: 100%;
    }
}

.card-back {
    background-color: deepskyblue;
    color: white;
    transform: rotateY(180deg);

    display: flex;
    align-items: center;
    justify-content: center;

    outline: 3px solid #323;
    box-shadow: 0px 0px 15px 5px #323 inset;
    
    padding: 10px;

    .card-text {
        font-size: clamp(.8rem, 2.5vw, 1.2rem);
        text-align: center;
    }
}


/*** Solution <Section> **************************/
.solution-title {
    background-color: var(--nttorange);
    padding: 15px;
    color: white;
}

.soln-heading {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.solution-services {
    width: 95%;
    margin: 0 auto;
}

.soln .card img {
    height: 130px;
    width: 100%;
}

.soln-body {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.soln-body h5 {
    text-align: center;
    font-size: 1rem;
}

.soln-body a {
    color: blue;
}


/*** Brief Info Section *********************************************/

.br-info {
    background-color: #335;
    min-height: 40vh;
    width: 95%;
    margin: 0 auto;
    border-radius: 15px;

    overflow: hidden;
}

.info-img-wrapper {
    display: flex;
    align-items: center;
}

.img-info {
    height: clamp(200px, 30vw, 400px);
    width: 100%;
    background-image: url("../img/index-img/optical-fiber-installation.gif");
    background-position: center;
    background-size: cover;
}

.br-info .content-info {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 20px;

    color: white;
    font-weight: 400;
}

.info-para {
    font-size: .8rem;
}

.btn-success {
    background-color: yellowgreen;
}


/*** Clients Section *****************************************************/
.clients {
    margin: 0 auto;

    .clients-heading {
        background-color: var(--nttorange);
        color: white;
        text-align: center;
        padding: 15px;
    }
}

.scroller {
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
}

.scroller[data-animated=true] {
    overflow: hidden;

    -webkit-mask: linear-gradient(
        90deg,
        transparent, 
        white 15%, 
        white 85%,
        transparent
    );
    
    mask: linear-gradient(
        90deg,
        transparent, 
        white 15%, 
        white 85%,
        transparent
    );
}

.scroller[data-animated=true] .scroller-inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll 30s linear infinite;
}

.scroller-inner {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding-inline: 0;
    list-style: none;

    
    padding-block: 2rem;
    gap: 1rem;
}

.scroller-inner img {
    width: clamp(85px, 15vw, 175px);
    padding: .5rem;
    background-color: blanchedalmond;
    box-shadow: 0 0.5rem 1rem -.25rem rgb(30, 29, 29);
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - .5rem));
    }
}

@media(min-width: 426px) {

    .services-cont {
        padding: 0;
        grid-template-columns: repeat(3, 1fr);
        width: 80%;
    }

    .solution-services {
        width: 80%;
    }

    .bg-brinfo {
        overflow: hidden;
    }

    .br-info {
        width: 80%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .scroller {
        width: 80%;
    }
}

@media(min-width: 768px) {
    .services-cont {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(min-width: 1024px) {
    .services-cont {
        gap: 5rem;
    }

    .card-back {
        padding: 30px;
    }

    .br-info {
        width: 55%;
    }
}
