* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    position: relative;
}

/*** Hero Section ***********************************************/

.hero {
    height: clamp(400px, 37vw, 650px);

    background-color: white;
    background-image: url("../img/hero-img/products-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;

    box-shadow: 0px 0px 7px #0f4c81 inset;
}

.hero-content {
    min-height: 80%;
    width: 95%;
    margin: 0 auto;

    position: relative;
    top: 10%;
}

.hero-inner-cont {
    width: 95%;
}

.hero-title {
    font-size: clamp(1.2rem, 4vw, 2rem);
    text-align: justify;
    color: #000000;
    text-align: center;
}

.hero-sub-title {
    font-size: clamp(1rem, 4vw, 1.6rem);
    font-weight:500;
    color: #0f4c81;
    text-align: center;
}

.hero-content {    
    height: 100%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}


/*** Content Section ************************************/

/*** Side Bar Section ***********************************/

.side-navbar {
    padding: 10px;
}

.sticky-box {
    position: sticky;
    top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-form {
    width: 95%;
    margin: 0 auto;

    padding: 10px;

    background-color: #ff9900;
    box-shadow: 5px 5px 10px #000;
}

.side-navbar #top {
    width: 50px;
    height: 50px;
    
    display: flex;
    align-items: center;

    border-radius: 50%;
    background-color: #ff9900;
    box-shadow: 4px 4px 6px #000;
}

.prod-input {
    margin-top: 10px;
}


/*** MEDIA QUERIES **************************************/

@media (min-width: 426px) {
    /*** Hero Section ***********************************************/

    .inner-sample .title {
        font-size: 1.5rem;
    }

    .inner-sample .sub-title {
        font-size: 1rem;
    }

    .product-form {
        width: 50%;
    }
}

@media (min-width: 768px) {

    .inner-sample .title {
        font-size: 1.75rem;
    }

    .inner-sample .sub-title {
        font-size: 1.25rem;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}