<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./style.css">
    <link rel="icon" type="image/png" href="./img/ntt-tab-icon.png">

    <title>Header Template 1.0</title>
</head>
<body>
    <header>
        <div class="header-wrapper">
            <img src="./img/nexttowntech-logo.gif" alt="">

            <!-- Mobile View Toggle Button -->
            <button class="btn-nav-toggle" 
                    aria-controls="primary-nav"
                    aria-expanded="false">
            </button>

            <!-- Primary Navigation -->
            <nav>
                <ul id="primary-nav" class="primary-nav" data-visible="false">
                    <li>
                        <a href="#">HOME</a>
                    </li>
                    <li>
                        <a href="#">PRODUCTS</a>
                    </li>
                    <li>
                        <a href="#">SOLUTIONS</a>
                    </li>
                    <li>
                        <a href="#">COMPANY</a>
                    </li>
                    <li>
                        <a href="#">CONTACT US</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <script src="./script.js"></script>
</body>
</html>