<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="./style.css">

    <title>Service Cards</title>
</head>
<body>
    <main>
        <h1>Our Services</h1>
        <section class="services">
            <div class="service">
                <img src="./img/Service Icon 6.gif" alt="">
                <div class="service-card-content">
                    <h3>Professional Service</h3>
                    <p>
                        We Design and Implement a Network Infrastructure 
                        that will suit your business needs.
                    </p>
                </div>
            </div>
            <div class="service">
                <img src="./img/Service Icon 5.gif" alt="">
                <div class="service-card-content">
                    <h3>Broadband Service</h3>
                    <p>
                        We Provide the Best Broadband Internet Service that can cover
                        any Business needs.
                    </p>
                </div>
            </div>
            <div class="service">
                <img src="./img/Service Icon 7.gif" alt="">
                <div class="service-card-content">
                    <h3>Managed Service</h3>
                    <p>
                        Let us manage your IT Infrastructure giving you more time
                        to focus on your Business goals.
                    </p>
                </div>
            </div>
        </section>
    </main>
</body>
</html>